@model TicketGo.Models.Ticket

@{
    ViewData["Title"] = "Detail Ticket";
}
<!DOCTYPE HTML>
<html>
<head>
<h2>@Html.DisplayFor(modelitem => Model.tempatwisata)</h2>
<img src="https://asset.kompas.com/crops/6pOQZgYGqkUudB9E0fUOLCEAfSs=/0x0:1000x667/750x500/data/photo/2020/01/05/5e11aed43e19f.jpg" class= "rpunded float-left" alt="">
<table class= "table">
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Tranportasi)</td>
            <td>@Html.DisplayFor(modelitem => Model.Tranportasi)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Waktu)</td>
            <td>@Html.DisplayFor(modelitem => Model.Waktu)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Harga)</td>
            <td>@Html.DisplayFor(modelitem => Model.Harga)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Stock)</td>
            <td>@Html.DisplayFor(modelitem => Model.Stock)</td>
        </tr>
    </tbody>
</table>
<div>
<a class= "btn btn-primary" asp-controller="Ticketgocs" asp-action="Index">Back</a>
</div>
<style>
    body {
    background-color: #33cccc;}
</style>
</head>
</html>