@model TicketGo.Models.TicketViewModel
@{
ViewData["Title"] = "Ticket App";
}
<h1>Welcome to the Ticket app</h1>
<p>Movie list:</p>
<a asp-controller="Ticket" asp-action="Create">Create new</a>
</p>

<form asp-controller="Ticket" asp-action="Index" method="get">
   <p>

        <select asp-for="TicketTranportasi" asp-items="Model.Tranportasis">
            <option value="">All</option>
        </select>

        Title: <input name="searchString" type="text">
        <button type="submit">Filter</button>
    </p>
</form>
<table class= "table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tickets[0].tempatwisata)</th>
            <th>@Html.DisplayNameFor(model => model.Tickets[0].Waktu)</th>
            <th>@Html.DisplayNameFor(model => model.Tickets[0].Tranportasi)</th>
            <th>@Html.DisplayNameFor(model => model.Tickets[0].Harga)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Tickets)
            {
               <tr>
                   <td>@Html.DisplayFor(modelitem => item.tempatwisata)</td>
                   <td>@Html.DisplayFor(modelitem => item.Waktu)</td>
                   <td>@Html.DisplayFor(modelitem => item.Tranportasi)</td>
                   <td>@Html.DisplayFor(modelitem => item.Harga)</td>
                   <td>
                       <a asp-controller="Ticket" asp-action="Edit" asp-route-id=@item.Id>Edit</a> |
                       <a asp-controller="Ticket" asp-action="show" asp-route-id=@item.Id>Details</a> |
                       <a asp-controller="Ticket" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                   </td>
               </tr>
            }
    </tbody>
</table>